.git
.gitignore
.gitattributes
.editorconfig
.env
.env.*
.phpunit.cache
.phpunit.result.cache

data
vendor
node_modules

database/*.sqlite
database/*.sqlite-shm
database/*.sqlite-wal

storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php

tests
phpunit.xml

Dockerfile
docker-compose.yml
README.md
